Package: wtfos-modloader
Version: 0.2.0
Maintainer: Joonas Trussmann <joonas@batman.ee>
Description: Configurable LD_PRELOAD injector for DJI services
Architecture: armv7-3.2
Homepage: https://github.com/fpv-wtf/wtfos-modloader
Section: system
Depends: wtfos-system
